.flashcard-page{
    width: 100vw;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}

.flashcard-page header{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.flashcard-page header h1{
    font-family: "Righteous";
    font-size: 36px;
    margin-left: 10px;
    color: var(--logo-color);
}

.flashcard-page .flashcard{
    position: relative;
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 23px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--logo-color);
}

.flashcard-page p{
    font-size: 16px;
    font-weight: bold;
}

.flashcard-page .play-icon{
    background-color: blue;
}

.flashcard-page footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-color);
}

.flashcard-page footer p{
    font-size: 18px;
}