.flashcard-page .flashcard{
    position: relative;
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 23px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--logo-color);
}

.flashcard-page p{
    font-size: 16px;
    font-weight: bold;
}

.flashcard-page .play-icon{
    background-color: blue;
}

.flashcard-question{
    position: relative;
    height: 150px;
    width: 300px;
    padding: 23px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--logo-color);
}

.flashcard-question p{
    font-size: 18px;
    font-weight: normal;
}

.flashcard-question img{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 25px;
}

.flashcard-answer{
    position: relative;
    height: 150px;
    width: 300px;
    padding: 23px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--logo-color);
}

.flashcard-answer p{
    font-size: 18px;
    font-weight: normal;
}

.flashcard-answer span{
    font-size: 12px;
    font-weight: normal;
}

.flashcard-answer_reactions{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.flashcard-answer_reactions_box{
    text-align: center;
    width: 85px;
    height: 40px;
    padding: 2px 10px;
    border-radius: 5px;
    color: var(--logo-color);
}

.reaction-didnt-remember{
    background-color: var(--didnt-remember);
}

.reaction-almost{
    background-color: var(--almost);
}

.reaction-zap{
    padding: 10px 0;
    background-color: var(--zap);
}