:root{
    --main-color: #EC6869;
    --logo-color: #FFFFFF;
    --didnt-remember: #FF3030;
    --almost: #FF922E;
    --zap: #2FBE34;
}

* {
    box-sizing: border-box;
}

.root{
    display: flex;
    justify-content: center;
    font-family: "Recursive";
}